Repository datanooblol/leonidas, changes with the owners that CODEOWNERS names for each.
All owners: @your-github-username, @infrastructure-engineer-username, @backend-developer-username, @frontend-developer-username

update backend
  backend/package/agents/query_master.py
  backend/package/core/__pycache__/config.cpython-312.pyc
  backend/package/core/config.py
  backend/package/prompt_hub/__init__.py
  backend/package/prompt_hub/chat_with_bro.md
  backend/package/prompt_hub/chat_with_data.md
  backend/package/routers/chat/__pycache__/database.cpython-312.pyc
  backend/package/routers/chat/__pycache__/endpoint.cpython-312.pyc
  backend/package/routers/chat/__pycache__/interface.cpython-312.pyc
  backend/package/routers/chat/__pycache__/services.cpython-312.pyc
  backend/package/routers/chat/database.py
  backend/package/routers/chat/endpoint.py
  backend/package/routers/chat/interface.py
  backend/package/routers/chat/services.py
  backend/package/routers/files/__pycache__/database.cpython-312.pyc
  backend/package/routers/files/__pycache__/endpoint.cpython-312.pyc
  backend/package/routers/files/__pycache__/services.cpython-312.pyc
  backend/package/routers/files/database.py
  backend/package/routers/files/endpoint.py
  backend/package/routers/files/services.py
Owners: @backend-developer-username

update
  frontend/app/components/HomePage.tsx
  frontend/app/components/LoginForm.tsx
  frontend/app/components/RegisterForm.tsx
Owners: @frontend-developer-username

update backend idea for the future
  backend/ARCHITECTURE.md
Owners: @backend-developer-username

update debug backend
  backend/package/core/config.py
  backend/package/routers/chat/services.py
  backend/package/routers/files/database.py
Owners: @backend-developer-username

update container permission
  infrastructure/container.tf
Owners: @infrastructure-engineer-username

update lambda path
  backend/package/core/data_catalog.py
Owners: @backend-developer-username

update data_catalog.py
  backend/package/core/data_catalog.py
Owners: @backend-developer-username

update backend to component-based storage and database | fixing file upload
  backend/main.py
  backend/package/core/config.py
  backend/package/core/dependencies.py
  backend/package/core/repositories.py
  backend/package/databases/__init__.py
  backend/package/databases/dynamodb/__init__.py
  backend/package/databases/dynamodb/file_repository.py
  backend/package/databases/dynamodb/message_repository.py
  backend/package/databases/dynamodb/project_repository.py
  backend/package/databases/dynamodb/session_repository.py
  backend/package/databases/dynamodb/user_repository.py
  backend/package/routers/auth/router.py
  backend/package/routers/chat/router.py
  backend/package/routers/files/router.py
  backend/package/routers/projects/router.py
  backend/package/routers/sessions/router.py
  backend/package/schemas/__init__.py
  backend/package/schemas/file.py
  backend/package/schemas/message.py
  backend/package/schemas/project.py
  backend/package/schemas/session.py
  backend/package/schemas/user.py
  backend/package/services/__init__.py
  backend/package/services/auth_service.py
  backend/package/services/chat_service.py
  backend/package/services/file_service.py
  backend/package/services/project_service.py
  backend/package/services/session_service.py
  backend/titanic.csv
Owners: @backend-developer-username

fix adding metadata
  backend/package/routers/files/router.py
  backend/package/routers/files/services.py
Owners: @backend-developer-username

simplified routers and fixed confirm triggering metadata
  backend/package/routers/files/router.py
  backend/package/routers/projects/router.py
  backend/package/routers/sessions/router.py
  backend/package/services/file_service.py
Owners: @backend-developer-username

update
  frontend/app/components/MarkdownRenderer.tsx
  frontend/app/components/NotebookChat.tsx
  frontend/app/components/TestPage.tsx
Owners: @frontend-developer-username

update routers/file to be able to send selected and metadata
  backend/package/routers/files/interface.py
  backend/package/routers/files/router.py
  backend/package/services/file_service.py
Owners: @backend-developer-username

update
  frontend/app/components/ChatPage.tsx
  frontend/app/components/FileManager.tsx
  frontend/app/components/NotebookChat.tsx
Owners: @frontend-developer-username

update selected
  backend/package/services/file_service.py
Owners: @backend-developer-username

update file_service.py
  backend/package/services/file_service.py
Owners: @backend-developer-username

checkpoint
  frontend/app/components/ChatPage.tsx
  frontend/app/components/FileManager.tsx
  frontend/app/components/MetadataModal.tsx
  frontend/app/components/NotebookChat.tsx
Owners: @frontend-developer-username

add sql markdown from artifact
  frontend/app/components/NotebookChat.tsx
  frontend/package.json
Owners: @frontend-developer-username

change file hierarchy
  frontend/app/backup/AuthForm.tsx
  frontend/app/backup/ChatPage.tsx
  frontend/app/components/ChatPage.tsx
Owners: @frontend-developer-username

test
  frontend/app/components/FileManager.tsx
  frontend/app/components/HomePage.tsx
  frontend/app/components/LoginForm.tsx
  frontend/app/components/MarkdownRenderer.tsx
  frontend/app/components/MetadataModal.tsx
  frontend/app/components/NotebookChat.tsx
  frontend/app/components/ProjectDashboard.tsx
  frontend/app/components/RegisterForm.tsx
  frontend/app/components/SessionManager.tsx
  frontend/app/components/TestPage.tsx
  frontend/app/components/test_merge.tsx
Owners: @frontend-developer-username

test
  frontend/app/components/test_merge.tsx
Owners: @frontend-developer-username

update test
  frontend/app/components/test_merge.tsx
Owners: @frontend-developer-username

test
  frontend/app/components/test_merge.tsx
Owners: @frontend-developer-username

new update
  frontend/app/components/test_merge.tsx
Owners: @frontend-developer-username

This is update from test branch
  frontend/app/components/test_merge.tsx
Owners: @frontend-developer-username

checkpoint
  frontend/app/components/test_merge.tsx
Owners: @frontend-developer-username

checkpoint - change to atomic design
  frontend/app/(private)/dashboard/page.tsx
  frontend/app/(private)/login/page.tsx
  frontend/app/src/components/atoms/Button.tsx
  frontend/app/src/components/atoms/ErrorMessage.tsx
  frontend/app/src/components/atoms/Heading.tsx
  frontend/app/src/components/atoms/Input.tsx
  frontend/app/src/components/atoms/Label.tsx
  frontend/app/src/components/atoms/index.ts
  frontend/app/src/components/index.ts
  frontend/app/src/components/molecules/AuthButtons.tsx
  frontend/app/src/components/molecules/InputField.tsx
  frontend/app/src/components/molecules/index.ts
  frontend/app/src/components/organisms/AuthForm.tsx
  frontend/app/src/components/organisms/index.ts
  frontend/app/src/components/pages/LoginPage.tsx
  frontend/app/src/components/pages/index.ts
  frontend/app/src/components/templates/AuthTemplate.tsx
  frontend/app/src/components/templates/index.ts
Owners: @frontend-developer-username

Fix auth/token
  frontend/app/(private)/dashboard/page.tsx
  frontend/app/(private)/projects/[projectId]/page.tsx
  frontend/app/page.tsx
Owners: @frontend-developer-username

checkpoint
  frontend/app/(private)/projects/[projectId]/page.tsx
  frontend/app/src/components/atoms/Navbar.tsx
  frontend/app/src/components/atoms/index.ts
  frontend/app/src/components/molecules/ProjectInfo.tsx
  frontend/app/src/components/molecules/TabSwitcher.tsx
  frontend/app/src/components/molecules/index.ts
  frontend/app/src/components/organisms/ChatContainer.tsx
  frontend/app/src/components/organisms/index.ts
  frontend/app/src/components/pages/NewProjectPage.tsx
  frontend/app/src/components/pages/index.ts
  frontend/app/src/components/templates/ProjectLayoutTemplate.tsx
  frontend/app/src/components/templates/index.ts
Owners: @frontend-developer-username

update(dashboard)
  frontend/app/(private)/dashboard/page.tsx
  frontend/app/(private)/login/page.tsx
  frontend/app/(private)/projects/[projectId]/page.tsx
  frontend/app/globals.css
  frontend/app/layout.tsx
  frontend/app/page.tsx
  frontend/app/src/components/atoms/Badge.tsx
  frontend/app/src/components/atoms/Button.tsx
  frontend/app/src/components/atoms/Card.tsx
  frontend/app/src/components/atoms/ErrorMessage.tsx
  frontend/app/src/components/atoms/Heading.tsx
  frontend/app/src/components/atoms/Input.tsx
  frontend/app/src/components/atoms/Label.tsx
  frontend/app/src/components/atoms/Navbar.tsx
  frontend/app/src/components/atoms/Spinner.tsx
  frontend/app/src/components/atoms/Textarea.tsx
  frontend/app/src/components/atoms/Toggle.tsx
  frontend/app/src/components/molecules/ChatInput.tsx
  frontend/app/src/components/molecules/ChatMessage.tsx
  frontend/app/src/components/molecules/DashboardHeader.tsx
  frontend/app/src/components/molecules/FileSidebar.tsx
  frontend/app/src/components/molecules/ProjectCard.tsx
  frontend/app/src/components/molecules/ProjectHeader.tsx
  frontend/app/src/components/molecules/ProjectInfo.tsx
  frontend/app/src/components/molecules/SessionItem.tsx
  frontend/app/src/components/organisms/ChatArea.tsx
  frontend/app/src/components/organisms/ChatContainer.tsx
  frontend/app/src/components/organisms/MessageList.tsx
  frontend/app/src/components/organisms/ProjectGrid.tsx
  frontend/app/src/components/organisms/ProjectsSection.tsx
  frontend/app/src/components/organisms/SessionManager.tsx
  frontend/app/src/components/pages/ChatPage.tsx
  frontend/app/src/components/pages/HomePage.tsx
  frontend/app/src/components/pages/NewProjectPage.tsx
  frontend/app/src/components/pages/ProjectPage.tsx
  frontend/app/src/components/templates/AuthTemplate.tsx
  frontend/app/src/components/templates/ChatTemplate.tsx
  frontend/app/src/components/templates/DashboardTemplate.tsx
  frontend/app/src/components/templates/ProjectLayoutTemplate.tsx
  frontend/app/src/components/templates/ProjectTemplate.tsx
Owners: @frontend-developer-username

test
  flow/dev.ipynb
Owners: @your-github-username

update
  flow/dev.ipynb
  flow/package/__init__.py
  flow/package/agent/__init__.py
  flow/package/agent/intent_classification.py
  flow/package/core/__init__.py
  flow/package/core/auth_middleware.py
  flow/package/core/aws_config.py
  flow/package/core/config.py
  flow/package/core/data_catalog.py
  flow/package/core/dependencies.py
  flow/package/core/interface.py
  flow/package/core/llm.py
  flow/package/core/repositories.py
  flow/package/prompt_hub/__init__.py
  flow/package/prompt_hub/get_intent.md
Owners: @your-github-username

update chat frontend
  frontend/app/src/components/atoms/Modal.tsx
  frontend/app/src/components/molecules/ChatInput.tsx
  frontend/app/src/components/molecules/CodeBlock.tsx
  frontend/app/src/components/molecules/CreateProjectForm.tsx
  frontend/app/src/components/molecules/DashboardHeader.tsx
  frontend/app/src/components/molecules/NewChatModal.tsx
  frontend/app/src/components/molecules/ProjectCard.tsx
  frontend/app/src/components/organisms/ChatArea.tsx
  frontend/app/src/components/organisms/FileMetadataModal.tsx
  frontend/app/src/components/organisms/MarkdownRenderer.tsx
  frontend/app/src/components/organisms/ProjectChatSidebar.tsx
  frontend/app/src/components/organisms/ProjectGrid.tsx
  frontend/app/src/components/organisms/ProjectsSection.tsx
  frontend/app/src/components/pages/ChatPage.tsx
  frontend/app/src/components/pages/HomePage.tsx
  frontend/app/src/components/pages/NewProjectPage.tsx
Owners: @frontend-developer-username

checkpoint
  frontend/app/src/components/molecules/FileSidebar.tsx
  frontend/app/src/components/organisms/FileManagerSection.tsx
  frontend/app/src/components/organisms/FileMetadataModal.tsx
  frontend/app/src/components/organisms/MetadataModal.tsx
  frontend/app/src/components/organisms/ProjectChatSidebar.tsx
  frontend/app/src/components/pages/NewProjectPage.tsx
Owners: @frontend-developer-username

checkpoint
  frontend/app/src/components/organisms/AuthForm.tsx
  frontend/app/src/components/organisms/ChatArea.tsx
  frontend/app/src/components/organisms/ProjectChatSidebar.tsx
  frontend/app/src/components/pages/ChatPage.tsx
  frontend/app/src/components/pages/NewProjectPage.tsx
  frontend/app/src/components/templates/ChatTemplate.tsx
Owners: @frontend-developer-username

This is D3
  frontend/app/src/components/organisms/ChatArea.tsx
Owners: @frontend-developer-username

checkpoint
  frontend/app/src/components/organisms/ChatArea.tsx
Owners: @frontend-developer-username

update
  frontend/app/src/components/organisms/ChatArea.tsx
Owners: @frontend-developer-username

update endpoint to router
  backend/main.py
Owners: @backend-developer-username

update git action
  backend/main.py
Owners: @backend-developer-username

update router.chat to have model factory design pattern
  backend/package/core/llm.py
  backend/package/routers/chat/interface.py
  backend/package/routers/chat/router.py
  backend/package/services/chat_service.py
Owners: @backend-developer-username

CODEOWNERS:

# Global owner (replace with your GitHub username)
* @your-github-username

# Infrastructure team (replace with actual username)
/infrastructure/ @infrastructure-engineer-username

# Backend team (replace with actual username)
/backend/ @backend-developer-username

# Frontend team (replace with actual username)
/frontend/ @frontend-developer-username

# CI/CD workflows
/.github/ @your-github-username
