Repository datanooblol/leonidas, changes with the owners that CODEOWNERS names for each.
All owners: @your-github-username, @infrastructure-engineer-username, @backend-developer-username, @frontend-developer-username

CODEOWNERS:

# Global owner (replace with your GitHub username)
* @your-github-username

# Infrastructure team (replace with actual username)
/infrastructure/ @infrastructure-engineer-username

# Backend team (replace with actual username)
/backend/ @backend-developer-username

# Frontend team (replace with actual username)
/frontend/ @frontend-developer-username

# CI/CD workflows
/.github/ @your-github-username

update CI/CD idea
  .github/workflows/infrastructure.yml
  README.md
Owners: @your-github-username

update
  backend/__pycache__/main.cpython-312.pyc
  backend/requirements.txt
  backend/test-lambda.bat
Owners: @backend-developer-username

update ci/cd flow on main
  .github/workflows/backend.yml
  .github/workflows/frontend.yml
  .github/workflows/infrastructure.yml
  infrastructure/test-cicd.md
Owners: @your-github-username, @infrastructure-engineer-username

feat: infrastructure ready for deployment
  infrastructure/main.tf
Owners: @infrastructure-engineer-username

fix: use us-east-1 provider for Route53 data source
  infrastructure/dns.tf
  infrastructure/dns.tf.backup
Owners: @infrastructure-engineer-username

update infra
  infrastructure/dns.tf
Owners: @infrastructure-engineer-username

update
  infrastructure/dns.tf
Owners: @infrastructure-engineer-username

update infra
  backend/package/core/config.py
  infrastructure/container.tf
  infrastructure/dns.tf
Owners: @backend-developer-username, @infrastructure-engineer-username

update how to handle existing assets
  .github/workflows/infrastructure.yml
Owners: @your-github-username

update
  infrastructure/main.tf
Owners: @infrastructure-engineer-username

update infra
  .github/workflows/infrastructure.yml
  infrastructure/main.tf
Owners: @your-github-username, @infrastructure-engineer-username

update
  .github/workflows/infrastructure.yml
  infrastructure/frontend.tf
  infrastructure/main.tf
Owners: @your-github-username, @infrastructure-engineer-username

update import/plan/apply
  .github/workflows/infrastructure.yml
  infrastructure/api.tf
  infrastructure/main.tf
  infrastructure/outputs.tf
Owners: @your-github-username, @infrastructure-engineer-username

update import/plan/apply
  infrastructure/main.tf
Owners: @infrastructure-engineer-username

update import/plan/apply
  .github/workflows/infrastructure.yml
  infrastructure/main.tf
Owners: @your-github-username, @infrastructure-engineer-username

feat: infrastructure foundation deployed
  .github/workflows/destroy-infrastructure.yml
  .github/workflows/infrastructure.yml
  backend/package/core/config.py
  backend/package/routers/files/services.py
  infrastructure/.terraform.lock.hcl
  infrastructure/api.tf
  infrastructure/container.tf
  infrastructure/dns.tf.backup
  infrastructure/main.tf
  infrastructure/outputs.tf
  infrastructure/s3-frontend.tf
  infrastructure/storage.tf
  infrastructure/terraform.tfstate
  infrastructure/terraform.tfstate.backup
  infrastructure/terraform.tfvars.example
  infrastructure/test-cicd.md
Owners: @your-github-username, @backend-developer-username, @infrastructure-engineer-username

feat: infrastructure foundation deployed
  .github/workflows/infrastructure.yml
  infrastructure/main.tf
Owners: @your-github-username, @infrastructure-engineer-username

update backend
  .github/workflows/backend.yml
  backend/README.md
Owners: @your-github-username, @backend-developer-username

Fix API integration and add health check page
  .github/workflows/frontend.yml
  amplify.yml
  frontend/README.md
  frontend/app/(public)/health/page.tsx
  frontend/next.config.ts
  infrastructure/api.tf
  infrastructure/container.tf
  infrastructure/dns.tf
  infrastructure/frontend.tf
  infrastructure/outputs.tf
Owners: @your-github-username, @frontend-developer-username, @infrastructure-engineer-username

Fix API integration and add health check page
  .github/workflows/frontend.yml
  frontend/app/(public)/health/page.tsx
Owners: @your-github-username, @frontend-developer-username

Add test step to build job for frontend
  .github/workflows/frontend.yml
  frontend/__tests__/health.test.tsx
  frontend/jest.config.js
  frontend/jest.setup.js
  frontend/package-lock.json
  frontend/package.json
Owners: @your-github-username, @frontend-developer-username

Add test step to build job for frontend
  .github/workflows/frontend.yml
  frontend/app/(public)/health/page.tsx
Owners: @your-github-username, @frontend-developer-username

Add test step to build job for frontend
  frontend/app/(public)/health/page.tsx
Owners: @frontend-developer-username

update | Infra - IAM for Amplify
  frontend/app/(public)/health/page.tsx
  infrastructure/frontend.tf
Owners: @frontend-developer-username, @infrastructure-engineer-username

update frontend
  infrastructure/frontend.tf
Owners: @infrastructure-engineer-username

update | remove amplify from terraform and create it manually
  .github/workflows/frontend.yml
  frontend/app/(public)/health/page.tsx
  frontend/app/layout.tsx
  infrastructure/frontend.tf
  infrastructure/outputs.tf
Owners: @your-github-username, @frontend-developer-username, @infrastructure-engineer-username

test backend | register, login, create project, upload file, download file
  .gitignore
  README.md
  backend/Dockerfile
  backend/TEST_BACKEND.md
  backend/dev.ipynb
  backend/pyproject.toml
  backend/uv.lock
Owners: @your-github-username, @backend-developer-username

update backend
  backend/debug_response.py
  backend/package/core/__pycache__/config.cpython-312.pyc
  backend/package/routers/chat/__pycache__/services.cpython-312.pyc
  backend/package/routers/chat/services.py
Owners: @backend-developer-username

update docker for backend
  backend/Dockerfile
Owners: @backend-developer-username

update backend to have log conversation len
  backend/package/routers/chat/services.py
Owners: @backend-developer-username

update infrastructure and backend
  backend/package/routers/chat/services.py
  infrastructure/container.tf
Owners: @backend-developer-username, @infrastructure-engineer-username

update idea in backend to connect with s3
  backend/Dockerfile
  backend/backend_setup.py
  backend/package/core/data_catalog.py
  backend/package/routers/chat/__pycache__/database.cpython-312.pyc
  backend/package/routers/chat/__pycache__/services.cpython-312.pyc
  backend/package/routers/files/__pycache__/services.cpython-312.pyc
  backend/pyproject.toml
  backend/uv.lock
Owners: @backend-developer-username

update backend
  backend/package/__pycache__/__init__.cpython-312.pyc
  backend/package/core/__pycache__/__init__.cpython-312.pyc
  backend/package/core/__pycache__/auth_middleware.cpython-312.pyc
  backend/package/core/__pycache__/config.cpython-312.pyc
  backend/package/core/__pycache__/llm.cpython-312.pyc
  backend/package/prompt_hub/__init__.py
  backend/package/prompt_hub/generate_sql.md
  backend/package/prompt_hub/guide_question.md
  backend/package/routers/auth/__pycache__/__init__.cpython-312.pyc
  backend/package/routers/auth/__pycache__/database.cpython-312.pyc
  backend/package/routers/auth/__pycache__/endpoint.cpython-312.pyc
  backend/package/routers/auth/__pycache__/interface.cpython-312.pyc
  backend/package/routers/auth/__pycache__/services.cpython-312.pyc
  backend/package/routers/chat/__pycache__/__init__.cpython-312.pyc
  backend/package/routers/chat/__pycache__/database.cpython-312.pyc
  backend/package/routers/chat/__pycache__/endpoint.cpython-312.pyc
  backend/package/routers/chat/__pycache__/interface.cpython-312.pyc
  backend/package/routers/chat/__pycache__/services.cpython-312.pyc
  backend/package/routers/chat/services.py
  backend/package/routers/files/__pycache__/__init__.cpython-312.pyc
  backend/package/routers/files/__pycache__/database.cpython-312.pyc
  backend/package/routers/files/__pycache__/endpoint.cpython-312.pyc
  backend/package/routers/files/__pycache__/interface.cpython-312.pyc
  backend/package/routers/files/__pycache__/services.cpython-312.pyc
  backend/package/routers/projects/__pycache__/__init__.cpython-312.pyc
  backend/package/routers/projects/__pycache__/database.cpython-312.pyc
  backend/package/routers/projects/__pycache__/endpoint.cpython-312.pyc
  backend/package/routers/projects/__pycache__/interface.cpython-312.pyc
  backend/package/routers/projects/__pycache__/services.cpython-312.pyc
  backend/package/routers/sessions/__pycache__/__init__.cpython-312.pyc
  backend/package/routers/sessions/__pycache__/database.cpython-312.pyc
  backend/package/routers/sessions/__pycache__/endpoint.cpython-312.pyc
  backend/package/routers/sessions/__pycache__/interface.cpython-312.pyc
  backend/package/routers/sessions/__pycache__/services.cpython-312.pyc
  backend/package/utils/__init__.py
  backend/package/utils/parse_string.py
Owners: @backend-developer-username

checkpoint2
  backend/package/routers/chat/__pycache__/endpoint.cpython-312.pyc
  backend/package/routers/chat/__pycache__/interface.cpython-312.pyc
  backend/package/routers/sessions/__pycache__/endpoint.cpython-312.pyc
  backend/package/routers/sessions/__pycache__/interface.cpython-312.pyc
  backend/package/routers/sessions/__pycache__/services.cpython-312.pyc
  frontend/app/(public)/health/page.tsx
  frontend/app/components/ChatPage.tsx
  frontend/app/components/FileManager.tsx
  frontend/app/components/TestPage.tsx
  frontend/app/page.tsx
Owners: @backend-developer-username, @frontend-developer-username

fix chat history
  frontend/app/components/ChatPage.tsx
Owners: @frontend-developer-username

update
  frontend/app/components/MetadataModal.tsx
  frontend/app/components/NotebookChat.tsx
  frontend/app/components/ProjectDashboard.tsx
Owners: @frontend-developer-username

update
  frontend/app/components/ChatPage.tsx
  frontend/app/components/MarkdownRenderer.tsx
  frontend/app/components/MetadataModal.tsx
  frontend/app/components/NotebookChat.tsx
  frontend/app/components/TestPage.tsx
  frontend/app/page.tsx
  frontend/package-lock.json
  frontend/package.json
Owners: @frontend-developer-username

update
  backend/package/core/__pycache__/config.cpython-312.pyc
  backend/package/core/aws_config.py
  backend/package/core/config.py
  backend/package/core/interface.py
  backend/package/prompt_hub/__init__.py
  backend/package/routers/files/__pycache__/database.cpython-312.pyc
  backend/package/routers/files/__pycache__/endpoint.cpython-312.pyc
  backend/package/routers/files/__pycache__/interface.cpython-312.pyc
  backend/package/routers/files/__pycache__/services.cpython-312.pyc
  backend/package/routers/files/database.py
  backend/package/routers/files/endpoint.py
  backend/package/routers/files/interface.py
  backend/package/routers/files/services.py
  backend/tips.csv
Owners: @backend-developer-username

update lambda policy allow it to connect with bedrock
  infrastructure/container.tf
Owners: @infrastructure-engineer-username

update
  frontend/app/components/FileManager.tsx
  frontend/app/components/LoginForm.tsx
  frontend/app/components/NotebookChat.tsx
  frontend/app/components/TestPage.tsx
Owners: @frontend-developer-username
