Repository datanooblol/leonidas, changes with the owners that CODEOWNERS names for each.
All owners: @your-github-username, @infrastructure-engineer-username, @backend-developer-username, @frontend-developer-username

update ModelFactory with AWSBedrock - meta llama, aws nova, claude, openai
  backend/package/core/dependencies.py
  backend/package/core/llm.py
  backend/package/core/repositories.py
  backend/package/databases/dynamodb/file_repository.py
  backend/package/databases/dynamodb/session_repository.py
  backend/package/llms/__init__.py
  backend/package/llms/base.py
  backend/package/llms/bedrock.py
  backend/package/llms/ollama.py
  backend/package/routers/projects/interface.py
  backend/package/services/chat_service.py
  backend/package/services/file_service.py
  backend/package/services/project_service.py
  backend/package/services/session_service.py
Owners: @backend-developer-username

refactor routers: files, projects | both database and service in routers/ will be removed soon
  backend/package/agents/query_master.py
  backend/package/core/llm.py
  backend/package/databases/dynamodb/message_repository.py
  backend/package/databases/dynamodb/project_repository.py
  backend/package/llms/__init__.py
  backend/package/routers/auth/database.py
  backend/package/routers/auth/endpoint.py
  backend/package/routers/auth/services.py
  backend/package/routers/chat/database.py
  backend/package/routers/chat/endpoint.py
  backend/package/routers/chat/interface.py
  backend/package/routers/chat/router.py
  backend/package/routers/chat/services.py
  backend/package/routers/files/database.py
  backend/package/routers/files/endpoint.py
  backend/package/routers/files/interface.py
  backend/package/routers/files/router.py
  backend/package/routers/files/services.py
  backend/package/routers/projects/database.py
  backend/package/routers/projects/endpoint.py
  backend/package/routers/projects/router.py
  backend/package/routers/projects/services.py
  backend/package/routers/sessions/database.py
  backend/package/routers/sessions/endpoint.py
  backend/package/routers/sessions/router.py
  backend/package/routers/sessions/services.py
  backend/package/schemas/message.py
  backend/package/services/chat_service.py
  backend/package/services/file_service.py
  backend/package/services/project_service.py
Owners: @backend-developer-username

update chat router to have artifacts
  backend/package/routers/chat/interface.py
  backend/package/routers/chat/router.py
  backend/package/services/chat_service.py
Owners: @backend-developer-username

update
  frontend/app/src/components/organisms/ChatArea.tsx
Owners: @frontend-developer-username

update default model and latest model used in ai_message
  backend/package/llms/__init__.py
  backend/package/routers/chat/interface.py
  backend/package/routers/chat/router.py
  backend/package/services/chat_service.py
Owners: @backend-developer-username

add model selection
  frontend/app/src/components/molecules/ChatInput.tsx
  frontend/app/src/components/molecules/ModelSelector.tsx
  frontend/app/src/components/molecules/index.ts
  frontend/app/src/components/organisms/ChatArea.tsx
  frontend/app/src/components/organisms/MarkdownRenderer.tsx
  frontend/app/src/components/pages/NewProjectPage.tsx
Owners: @frontend-developer-username

update chat router: history -> return model_name, messages -> artifacts=null, artifacts = list or None | next visualize logic, error handling, json response
  backend/chart_config.json
  backend/package/core/repositories.py
  backend/package/databases/dynamodb/message_repository.py
  backend/package/llms/__init__.py
  backend/package/prompt_hub/__init__.py
  backend/package/prompt_hub/chart_builder.md
  backend/package/routers/chat/interface.py
  backend/package/routers/chat/router.py
  backend/package/services/chat_service.py
  backend/pyproject.toml
  backend/test.html
  backend/uv.lock
Owners: @backend-developer-username

update artifacts chart with plotly json object
  .gitignore
  backend/chart_config.json
  backend/package/agents/chart_builder.py
  backend/package/services/chat_service.py
  backend/plot.html
  backend/tips.csv
  backend/titanic.csv
Owners: @your-github-username, @backend-developer-username

update Dockerfile to be multi-stage guild to reduce image size
  backend/Dockerfile
Owners: @backend-developer-username

update multi-stage build code to reflect aws lambda container
  backend/Dockerfile
Owners: @backend-developer-username

plotly and artifact
  frontend/app/src/components/atoms/Modal.tsx
  frontend/app/src/components/molecules/ArtifactViewer.tsx
  frontend/app/src/components/molecules/ChartViewer.tsx
  frontend/app/src/components/molecules/ChatMessage.tsx
  frontend/app/src/components/molecules/DataTable.tsx
  frontend/app/src/components/molecules/FileUploadModal.tsx
  frontend/app/src/components/molecules/NewChatModal.tsx
  frontend/app/src/components/molecules/SQLViewer.tsx
  frontend/app/src/components/molecules/index.ts
  frontend/app/src/components/organisms/ChatArea.tsx
  frontend/app/src/components/organisms/ChatContainer.tsx
  frontend/app/src/components/organisms/MessageList.tsx
  frontend/app/src/components/organisms/ProjectChatSidebar.tsx
  frontend/app/src/components/organisms/ProjectsSection.tsx
  frontend/app/src/components/pages/ChatPage.tsx
  frontend/app/src/components/pages/NewProjectPage.tsx
  frontend/app/src/components/templates/DashboardTemplate.tsx
  frontend/next.config.ts
Owners: @frontend-developer-username

change api path
  frontend/app/(private)/dashboard/page.tsx
  frontend/app/(private)/projects/[projectId]/page.tsx
  frontend/app/api/api.ts
  frontend/app/src/components/molecules/ChatMessage.tsx
  frontend/app/src/components/organisms/AuthForm.tsx
  frontend/app/src/components/organisms/ChatArea.tsx
  frontend/app/src/components/organisms/FileManager.tsx
  frontend/app/src/components/organisms/FileMetadataModal.tsx
  frontend/app/src/components/organisms/RegisterForm.tsx
  frontend/app/src/components/organisms/SessionManager.tsx
  frontend/app/src/components/pages/ChatPage.tsx
  frontend/app/src/components/pages/HomePage.tsx
  frontend/app/src/components/pages/NewProjectPage.tsx
  frontend/app/src/components/pages/ProjectPage.tsx
Owners: @frontend-developer-username

update login page and private group
  frontend/app/(private)/layout.tsx
Owners: @frontend-developer-username

update frontend
  frontend/app/(private)/projects/[projectId]/generateStaticParams.ts
  frontend/app/(private)/projects/[projectId]/page.tsx
  frontend/next.config.ts
Owners: @frontend-developer-username

update amplify.yml
  amplify.yml
Owners: @your-github-username

update amplify.yml to have only frontend
  amplify.yml
Owners: @your-github-username

simplify /projects to use searchParams and update relevant modules | update build to out test local and pass
  amplify.yml
  frontend/app/(private)/dashboard/page.tsx
  frontend/app/(private)/projects/[projectId]/generateStaticParams.ts
  frontend/app/(private)/projects/page.tsx
  frontend/app/api/api.ts
  frontend/next.config.ts
Owners: @your-github-username, @frontend-developer-username

update
  amplify.yml
  frontend/__tests__/health.test.tsx
  frontend/app/api/api.ts
  frontend/app/src/components/atoms/Button.tsx
  frontend/app/src/components/organisms/AuthForm.tsx
  frontend/app/src/components/pages/LoginPage.tsx
  frontend/next.config.ts
  frontend/package.json
  frontend/test.html
  frontend/tsconfig.json
Owners: @your-github-username, @frontend-developer-username

update build
  frontend/app/(public)/health/page.tsx
  frontend/app/backup/AuthForm.tsx
  frontend/app/backup/ChatPage.tsx
  frontend/app/backup/FileManager.tsx
  frontend/app/backup/HomePage.tsx
  frontend/app/backup/LoginForm.tsx
  frontend/app/backup/MarkdownRenderer.tsx
  frontend/app/backup/MetadataModal.tsx
  frontend/app/backup/NotebookChat.tsx
  frontend/app/backup/ProjectDashboard.tsx
  frontend/app/backup/RegisterForm.tsx
  frontend/app/backup/SessionManager.tsx
  frontend/app/components/TestPage.tsx
  frontend/app/src/components/molecules/ChatMessage.tsx
  frontend/app/src/components/molecules/CodeBlock.tsx
  frontend/app/src/components/molecules/FileItem.tsx
  frontend/app/src/components/molecules/FileManagerItem.tsx
  frontend/app/src/components/molecules/FileSidebar.tsx
  frontend/app/src/components/molecules/ModalHeader.tsx
  frontend/app/src/components/molecules/ProjectCard.tsx
  frontend/app/src/components/organisms/ChatArea.tsx
  frontend/app/src/components/organisms/FileManager.tsx
  frontend/app/src/components/organisms/FileManagerSection.tsx
  frontend/app/src/components/organisms/MetadataModal.tsx
  frontend/app/src/components/organisms/ProjectChatSidebar.tsx
  frontend/app/src/components/organisms/ProjectGrid.tsx
  frontend/app/src/components/organisms/SessionManager.tsx
  frontend/app/src/components/pages/ChatPage.tsx
  frontend/app/src/components/pages/NewProjectPage.tsx
  frontend/app/src/components/pages/RegisterPage.tsx
  frontend/next.config.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/types/index.ts
  frontend/types/plotly.d.ts
Owners: @frontend-developer-username

update frontend
  amplify.yml
Owners: @your-github-username

update amplify.yml
  amplify.yml
Owners: @your-github-username

update amplify.yml
  amplify.yml
Owners: @your-github-username

update amplify.yml
  amplify.yml
Owners: @your-github-username

update login page
  frontend/app/(private)/login/page.tsx
  frontend/app/page.tsx
Owners: @frontend-developer-username

update frontend
  amplify.yml
  frontend/app/page.tsx
Owners: @your-github-username, @frontend-developer-username

update
  amplify.yml
  frontend/app/(private)/login/page.tsx
  frontend/app/(public)/health/page.tsx
  frontend/app/page.tsx
  frontend/app/src/components/molecules/FileItem.tsx
  frontend/app/src/components/molecules/FileManagerItem.tsx
  frontend/app/src/components/molecules/FileSidebar.tsx
  frontend/app/src/components/molecules/ProjectCard.tsx
  frontend/app/src/components/organisms/FileManager.tsx
  frontend/app/src/components/organisms/FileManagerSection.tsx
  frontend/app/src/components/organisms/FileMetadataModal.tsx
  frontend/app/src/components/organisms/MetadataModal.tsx
  frontend/app/src/components/organisms/ProjectChatSidebar.tsx
  frontend/app/src/components/organisms/ProjectGrid.tsx
  frontend/app/src/components/organisms/SessionManager.tsx
  frontend/app/src/components/pages/ChatPage.tsx
  frontend/app/src/components/pages/NewProjectPage.tsx
  frontend/package-lock.json
  frontend/package.json
  frontend/types/index.ts
  frontend/types/plotly.d.ts
Owners: @your-github-username, @frontend-developer-username

update to have out folder
  frontend/app/(private)/dashboard/page.tsx
  frontend/app/(private)/project/page.tsx
  frontend/app/(private)/projects/[projectId]/page.tsx
  frontend/next.config.ts
Owners: @frontend-developer-username

update frontend to have build -> out
  amplify.yml
  frontend/app/(private)/dashboard/page.tsx
  frontend/app/(private)/project/page.tsx
  frontend/app/(private)/projects/[projectId]/page.tsx
  frontend/next.config.ts
Owners: @your-github-username, @frontend-developer-username

update NEXT_AMPLIFY.md readme
  NEXT_AMPLIFY.md
  amplify.yml
Owners: @your-github-username

CODEOWNERS:

# Global owner (replace with your GitHub username)
* @your-github-username

# Infrastructure team (replace with actual username)
/infrastructure/ @infrastructure-engineer-username

# Backend team (replace with actual username)
/backend/ @backend-developer-username

# Frontend team (replace with actual username)
/frontend/ @frontend-developer-username

# CI/CD workflows
/.github/ @your-github-username
